# better interactive session, debugger
ipython>=7.4.0
ipdb>=0.12

# testing tools
# aws-sam-cli>=0.18.0 # need https://github.com/awslabs/serverless-application-model/issues/922
pylint>=2.3.1
coverage>=4.5.3
pytest>=4.4.0
pytest-cov>=2.6.1
pytest-random-order>=1.0.4

# commit hooks
pre-commit>=1.15.2
